body {
	display: inline;
	background-color: #1c1f22;
	color: white;
	font-family: Arial, sans-serif;
	text-align: center;
}

p {
	margin-bottom: 0;
}

#question {
	margin-left: 5px;
	margin-right: 5px;
}

#question * {
	margin-left: auto;
	margin-right: auto;
}

#answer {
	margin-left: 5px;
	margin-right: 5px;
}

#answer > * {
	margin-left: auto;
	margin-right: auto;
}

button {
	margin-left: 5px;
	margin-right: 5px;
	min-width: 100px;
}

#character {
	font-size: 100px;
	background-color: black;
	line-height: 2em;
	width: 2em;
	height: 2em;
	border: 1px solid;
	margin-bottom: 0.2em;
}

#equivalent {
	font-size: 20px;
	background-color: black;
	line-height: 2em;
	width: 10em;
	height: 2em;
	border: 1px solid;
}

#correct_answer {
	font-size: 20px;
	background-color: black;
	line-height: 2em;
	width: fit-content;
	height: 2em;
	border: 1px solid;
	margin-top: 15px;
	padding-left: 100px;
	padding-right: 100px;
}

#user_answer {
	display: inline-flex;
}

#user_answer * {
	font-size: 30px;
	color: white;
	background-color: black;
	line-height: 75px;
	border: 1px solid;
	margin-top: 1em;
	margin-bottom: 0px;
	width: 50px;
	height: 80px;
	text-align: center;
}

#answer_field {
	width: 250px;
}

@media screen and (max-width: 450px) {
	#user_answer * {
		width: 12vw;
	}
	#answer_field {
		width: 50vw;
	}
	#correct_answer {
		font-size: 5vw;
		height: auto;
		padding: 2vw 10vw;
	}
}

#submit_answer > * {
	margin-top: 15px;
}

#score {
	display: flex;
	margin-top: 20px;
	margin-bottom: 0px;
}

#score p {
	font-size: 20px;
	background-color: black;
	line-height: 2em;
	border: 1px solid;
	margin-top: 0px;
	margin-bottom: 0px;
}

#settings {
	margin-top: 10px;
}

#settings > * {
	margin-top: 10px;
	border: 1px solid white;
	border-radius: 25px;
	background-color: #171717;
}

label {
	font-weight: bold;
}

#allowed {
	font-size: 20px;
	background-color: black;
	line-height: 2em;
	width: 20em;
	height: 2em;
	border: 1px solid;
	margin-top: 40px;
	margin-bottom: 0px;
}

#misc {
	background-color: black;
	width: fit-content;
	padding: 5px;
	border: 1px solid;
	margin-top: 15px;
	margin-bottom: 0px;
	margin-left: auto;
	margin-right: auto;
}
