body {
	display: inline;
	background-color: #1c1f22;
	color: white;
	font-family: Arial, sans-serif;
	text-align: center;
}

p {
	margin-bottom: 0;
}

#question {
	margin-left: 5px;
	margin-right: 5px;
}

#question * {
	margin-left: auto;
	margin-right: auto;
}

#answer {
	margin-left: 5px;
	margin-right: 5px;
}

#answer > * {
	margin-left: auto;
	margin-right: auto;
}

button {
	margin: 5px;
	min-width: 100px;
}

#character {
	font-size: 100px;
	background-color: black;
	line-height: 2em;
	width: 2em;
	height: 2em;
	border: 1px solid;
	margin-bottom: 0.2em;
}

#equivalent {
	font-size: 20px;
	background-color: black;
	line-height: 2em;
	width: 10em;
	height: 2em;
	border: 1px solid;
}

#correct_answer {
	font-size: 20px;
	background-color: black;
	line-height: 2em;
	width: 15em;
	height: 2em;
	border: 1px solid;
	margin-top: 0em;
	margin-bottom: 1em;
}

#user_answer {
	display: inline-flex;
}

#user_answer * {
	font-size: 4vh;
	color: white;
	background-color: black;
	line-height: 10vh;
	border: 1px solid;
	margin-top: 1em;
	margin-bottom: 0px;
	width: 15vh;
	height: 10vh;
}

#answer_field {
	width: 25vw;
	text-align: center;
}

#submit_answer {
	margin-top: 15px;
}

#score {
	display: flex;
	margin-top: 20px;
	margin-bottom: 0px;
}

#score p {
	font-size: 20px;
	background-color: black;
	line-height: 2em;
	border: 1px solid;
	margin-top: 0px;
	margin-bottom: 0px;
}

#allowed {
	font-size: 20px;
	background-color: black;
	line-height: 2em;
	width: 20em;
	height: 2em;
	border: 1px solid;
	margin-top: 40px;
	margin-bottom: 0px;
}

#misc {
	font-size: 20px;
	background-color: black;
	line-height: 2em;
	width: 20em;
	height: 2em;
	border: 1px solid;
	margin-top: 10px;
	margin-bottom: 0px;
}
