body {
	display: inline;
	background-color: #1c1f22;
	color: white;
	font-family: Arial, sans-serif;
}

#question {
	margin-top: 10vh;
}

#character {
	font-size: 100px;
	background-color: black;
	text-align: center;
	line-height: 2em;
	width: 2em;
	height: 2em;
	border: 1px solid;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 0.2em;
}

#equivalent {
	font-size: 20px;
	background-color: black;
	text-align: center;
	line-height: 2em;
	width: 10em;
	height: 2em;
	border: 1px solid;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 1em;
}

#correct_answer {
	font-size: 20px;
	background-color: black;
	text-align: center;
	line-height: 2em;
	width: 15em;
	height: 2em;
	border: 1px solid;
	margin-left: auto;
	margin-top: 0em;
	margin-right: auto;
	margin-bottom: 1em;
}

#correct_answer p {
	margin: auto;
}

#user_answer * {
	font-size: 20px;
	color: white;
	background-color: black;
	text-align: center;
	line-height: 2em;
	min-width: 10vw;
	height: 2em;
	border: 1px solid;
	margin-left: 0.5%;
	margin-top: 1em;
	margin-right: 0.5%;
	margin-bottom: 0px;
}

#answer_field {
	min-width: 30vw;
}

#answer_btn, #next_btn {
	margin: 2em;
}

#score {
	display: flex;
	margin-top: 20px;
	margin-bottom: 0px;
}

#score p {
	font-size: 20px;
	background-color: black;
	text-align: center;
	line-height: 2em;
	border: 1px solid;
	margin-top: 0px;
	margin-bottom: 0px;
}

#allowed {
	font-size: 20px;
	background-color: black;
	text-align: center;
	line-height: 2em;
	width: 20em;
	height: 2em;
	border: 1px solid;
	margin-top: 40px;
	margin-bottom: 0px;
}

#misc {
	font-size: 20px;
	background-color: black;
	text-align: center;
	line-height: 2em;
	width: 20em;
	height: 2em;
	border: 1px solid;
	margin-top: 10px;
	margin-bottom: 0px;
}
